
    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 740px) {
      #sidebar {
        display: none;
      }
      .hamburger-holder {
        display: flex;
      }
    }

.main-games-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

button {
  background-color: rgb(16, 33, 64);
}


h1, h2, h3, h4, h5 {
  color: white;
}