
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 200px) {
        .hype-text {
            font-size: 4rem;
        }
        .open-text {
            font-size: 5rem;;
        }
      }

@media only screen and (min-width: 700px) {
    .hype-text {
        font-size: 4.5rem ;
    }

    .open-text {
        font-size: 7rem ;
        border: 1rem solid white ;
        margin-top: 2rem ;
    }
}

@media only screen and (min-width: 700px) {
    .hype-text {
        font-size: 7rem ;
    }

    .open-text {
        font-size: 10rem ;
        border: 1rem solid white ;
        margin-top: 2rem ;
    }
}

.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100;
    flex-direction: column;
}

.hype-text {
text-align: center;
margin: 1rem;
color: white;
opacity: 0.8;
}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.controller-svg {
width: 20%;
}

.open-text {
    margin-top: 4rem;
    border: 2rem solid white;
    padding-right: 1rem;
    padding-left: 1rem;
    opacity: 0.8;
    user-select: none;
    -webkit-user-select: none;
    color: white;
}

.open {
    transition: 0.3s;
    width: auto;
}

.open:hover {
    transform:scale(1.2);
}
