

.shopping-sidebar-container {
    position: fixed; 
    top: 0;
    right: 0;
    width: 18rem; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    padding-left: 1rem;
    overflow: scroll;
}

.shopping-sidebar-container.active {
    transform: translateX(0);
}

.price-and-buy {
    display: flex;
    justify-content: space-between;
    margin-right:1rem ;
    font-size: 1rem;
    align-items: center;
}

.purchase-button {
    height: 3rem;
    margin-left: 1rem;
    font-size: 0.8rem;
}

