.showmore-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 35rem;
    padding-bottom: 10rem;
}


